.card
{
    width: 300px;
    height: 150px;
    background-color: #121212;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    border-radius: 16px;
    margin: 10px;
    padding: 20px;
}

.card-icon
{
    font-size: 60px;
    text-align: center;
    margin-left: -5px;
}

.card-info
{
    text-align: center;
}

.card-info h4
{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}

.card-info span
{
    font-size: 20px;
}